/* General Container Styling */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* FAQ Section Styling */
.faq-section {
    background-color: #f4f4f4;
    padding: 60px 20px;
    color: #003344;
    border-radius: 20px;
    margin: 25px 15px;
}

.faq-section .section-title {
    font-size: 36px;
    font-weight: 600;
    color: #004d66;
    text-align: center;
    margin-bottom: 20px;
}

.faq-section .section-subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #555;
    text-align: center;
    margin-bottom: 40px;
}

/* FAQ Item Styling */
.faq-item {
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.faq-ques {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
}

.faq-toggle {
    transition: transform 0.3s;
}

.faq-ans {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.faq-item.active .faq-ans {
    max-height: 200px; /* Adjust as needed */
}

.faq-item.active .faq-toggle {
    transform: rotate(45deg);
}

.faq-item h3 {
    font-size: 22px;
    font-weight: 600;
    color: #003344;
    margin-bottom: 10px;
}

.faq-item p {
    font-size: 16px;
    color: #444;
    line-height: 1.6;
}

.faq-item a {
    color: #004d66;
    text-decoration: none;
    font-weight: bold;
}

.faq-item a:hover {
    text-decoration: underline;
}

@media screen  and (max-width : 500px) {
    .faq-ques {
        display:flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight:700;
    }
}